@{
    ViewData["Title"] = "Гостевая книга";
}
@model GestBook.Models.RegisterModel
@using Microsoft.AspNetCore.Http

@section Scripts{
    <script>
       $(document).ready(function () {

            getAllMessages();

            $("body").on("click", ".btn-gestBook", function () {
                registrNone();           
                loginNone();
                getAllMessages();
            });

            $("body").on("click", ".btn-Login", function () {
                registrNone();
                login();
            });
            $("body").on("click", ".btn-Logout", function () {
                $.ajax({
                    url: '@Url.Action("Logout", "Login")',
                    type: 'GET',
                    contentType: false,
                    processData: false,                   
                    success: function (response) {
                        alert(response);
                        let l = document.getElementById("wellcome");
                        l.style.display = "none";
                        let lt = document.getElementById("enter");
                        lt.style.display = "flex";
                        let lm = document.getElementById("message");
                        lm.style.display = "none";
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            $("body").on("click", ".btn-Reg", function () {
                loginNone();                
                registr();
            });
            $("#btn-registration").on("click", function () {                
                let formData1 = new FormData();
                formData1.append("Login", $("#Login").val());
                $.ajax({
                    url: '@Url.Action("IsLoginInUse", "Login")',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData1,
                    success: function (response) {                      
                        if(response)
                        {                          
                            alert("логин уже используется!")
                            let l1 = document.getElementById("error-Rlogin");
                            l1.style.display = "inline";
                        }
                        else
                        {
                            let formData = new FormData();
                            formData.append("Login", $("#Login").val());
                            formData.append("Password", $("#Reg_Password1").val());
                            formData.append("PasswordConfirm", $("#Reg_Password2").val());
                            $.ajax({
                                url: '@Url.Action("Registration", "Login")',
                                type: 'POST',
                                contentType: false,
                                processData: false,
                                data: formData,
                                success: function (response) {
                                    alert(response);
                                    registrNone();
                                    ClearRegistr();
                                    login();
                                },
                                error: function (x, y, z) {
                                    alert(x + '\n' + y + '\n' + z);
                                }
                            });
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            
               
              
            });
            $("#Login").on("focus", function (){
                let l1 = document.getElementById("error-Rlogin");
                l1.style.display = "none";
            });
            $("#btn-log").on("click", function () {
                let formData = new FormData();
                formData.append("Login", $("#log").val());
                formData.append("Password", $("#pass").val());
                $.ajax({
                    url: '@Url.Action("Login", "Login")',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        
                        if(response){
                            let l1 = document.getElementById("error-login");
                            l1.style.display = "none";
                        loginNone();
                        ClearLogin();
                        let l = document.getElementById("wellcome");
                        l.style.display = "block";
                        let lt = document.getElementById("enter");
                        lt.style.display = "none";
                        let lm = document.getElementById("message");
                        lm.style.display = "block";
                        $.ajax({
                            url: '@Url.Action("GetName", "Login")',
                            type: 'GET',
                            contentType: false,
                            processData: false,                          
                            success: function (response) {
                                $("#wellcomeTo").html(response);
                            },
                            error: function (x, y, z) {
                                alert(x + '\n' + y + '\n' + z);
                            }
                        });
                        }
                        else
                        {
                            let l2 = document.getElementById("error-login");
                            l2.style.display = "inline";
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });
            $("#btn-addMess").on("click", function () {
                let formData = new FormData();
                formData.append("Text", $("#TextMessage").val());
                $.ajax({
                    url: '@Url.Action("AddMessage", "Login")',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        alert(response);
                        $("#TextMessage").val("");
                        getAllMessages();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

       });
           
        let login =function(){
            let l = document.getElementById("login");
            l.style.display = "block";
        };
        let loginNone = function () {
            let l = document.getElementById("login");
            l.style.display = "none";
        };
            // создание строки для таблицы
            let row = function (message) {
                return "<div>" + message.user + " </div>" + 
                    "<div class='card'  >" + message.Text + " </div>"+
                "<div class='c' >" + message.MessageDate + " </div><hr />"
            };

            // Получение всех студентов
            function getAllMessages() {
                $.ajax({
                    url: '@Url.Action("GetMessages", "Home")',
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        let rows = "";
                        let message = JSON.parse(response);
                        $.each(message, function (index, message) {                           
                            rows += row(message);
                        })
                        $("#message-list").html(rows);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
        let registr = function () {
            let l = document.getElementById("registrationForm");
            l.style.display = "block";
        };
        let registrNone = function () {
            let l = document.getElementById("registrationForm");
            l.style.display = "none";
        };
         let ClearRegistr = function () {
             $("#Login").val("");
            $("#Reg_Password1").val("");
            $("#Reg_Password2").val("");
        };
        let ClearLogin = function () {
             $("#log").val("");
             $("#pass").val("");
        };
            
       
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card" id="login" style="display:none;">
      
            @Html.ValidationSummary(true, "")
            <label>Login</label>
            <span id="error-login" style="color:red;display:none;">*не верный логин или пароль</span>
            <div class="c2">
                <input type="text" class="form-control" id="log" required>
            </div>

            <div>
                <label>Password</label>
                <div class="c2">
                    <input type="password" class="form-control" id="pass" required>
                </div>
            </div>

            <div>
                <br>
                <div>
                    <a href="javascript:void(0)" class="nav-link text-dark card2 but" id="btn-log">Войти</a>
                </div>
            </div>
              
    </div>
}
<form id="registrationForm" style="display:none;" >
   
    @Html.AntiForgeryToken()
    <div class="card">
        @Html.ValidationSummary(true, "")
        <div>
            @Html.DisplayNameFor(model => model.Login)
            <span id="error-Rlogin" style="color:red;display:none;">*не верный логин или пароль</span>
            <div>
            @Html.EditorFor(model => model.Login)
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Password)
            <div>
                @Html.PasswordFor(model => model.Password, new { id = "Reg_Password1" })
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.PasswordConfirm)

            <div>
            @Html.PasswordFor(model => model.PasswordConfirm, new { id = "Reg_Password2" })
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
        </div><br />

        <div>
            <div>                              
                <a href="javascript:void(0)" class="nav-link text-dark card2 but" id="btn-registration">Регистрация</a>
            </div>
        </div>
    </div>   
</form>
<br />
<br />
<div class="text-center">
    <h1 class="display-4 card1">Гостевая книга</h1>
</div>
<div id="message" style="display:none;">
   <form>
        <br>
        <br>
        <label>Оставьте свой отзыв</label>
        <div class="card">
             <textarea rows="3" id="TextMessage"></textarea>  
            </div>
        <div>
            <br>
            <a href="javascript:void(0)" class="nav-link text-dark card2 but" id="btn-addMess">Отправить</a>
        </div>
    </form>
  
</div>
<hr />
    <div id="message-list">
      
     </div>
<hr />



