@model GestBook.Models.LoginModel
@using Microsoft.AspNetCore.Http

<form  id="formLog">
    @Html.AntiForgeryToken()
    <div  class="card c3">
        
            <span id="error-login1" style="color:red;display:none;">*не верный логин или пароль</span>
            <div>
                @Html.LabelFor(model => model.Login)
                <div>
                <input asp-for="Login" onfocus="focusl()" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Login, "")
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Password)             
                <div>
                <input asp-for="Password" onfocus="focusl()" type="password" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Password, "")
                </div>
            </div>
           
    </div>
</form>
<script>
    let focusl = function () {
        let l1 = document.getElementById("error-login1");
        l1.style.display = "none";       
    }
</script>
