@model GestBook.Models.LoginModel
@using Microsoft.AspNetCore.Http

<form  id="formLog">
    @Html.AntiForgeryToken()
    <div  class="card c3">
        
            <span id="error-login1" style="color:red;display:none;">*не верный логин или пароль</span>
            <div>
                @Html.LabelFor(model => model.Login)
                <div>
                    <input asp-for="Login" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Login, "")
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Password)             
                <div>
                    <input asp-for="Password" type="password" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Password, "")
                </div>
            </div>

            <div>
                <br>
                @*<div>
                    <input type="submit" value="Войти" />
                </div>*@
            </div>
       
       
    </div>
</form>
