@model GestBook.Models.RegisterModel
@using Microsoft.AspNetCore.Http

<form  >
    @Html.AntiForgeryToken()
    <div class="card">
            @Html.ValidationSummary(true, "")
            <div>
               @Html.DisplayNameFor(model => model.Login)
                <div>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
                </div>
            </div>

            <div>
            @Html.DisplayNameFor(model => model.Password)
                <div>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div>
            @Html.DisplayNameFor(model => model.PasswordConfirm)
           
                <div>
                <input asp-for="PasswordConfirm" type="password" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>

            @*<div>
                <div>
                <button type="submit">Зарегистрироваться</button>
                </div>
        </div> *@
    </div>
</form>
  
